body {
    margin: 0;
    background: rgb(7,197,252);
background: linear-gradient(90deg, rgba(7,197,252,1) 0%, rgba(255,255,255,1) 38%, rgba(247,251,195,1) 51%, rgba(255,255,255,1) 62%, rgba(7,197,252,1) 100%);

    font-family: cursive;
}

.header {
    text-align: center;
}

#title {
    font-size: 50px;
    text-shadow: 1px 3px 5px black;
}

.cont {
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
    max-width: 100%;
    height: auto;
    background: rgb(7,197,252);
    background: linear-gradient(0deg, rgba(7,197,252,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 62%, rgba(7,197,252,1) 100%);
    border: 50px;
    border-color: black;
}
#img-div{
    display: block;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
    justify-content: center;
    align-items: center;
}
#image {
    margin: 0 auto;
    max-width: 100%;
    max-height: 600px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#img-caption p {
    text-align: center;
    margin: 0 auto;
    font-size: 15px;

}

#contenedor {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
}

#infoimg {
    width: 90%;
    height: auto;
    background-color: rgba(86, 185, 224,0.5)  ;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    
}

#info {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    float: left;
    padding: 15px;
}

#info h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#foto {
    float: right;
    display: flex;
    align-items: center;
    padding: 10px;
}

#foto img {
    height: 300px;
    border-radius: 10px;
}
#linea{
    display: block;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
}
#linea h3{
    text-align: center;
    font-size: 40px;
}
#linea span{
    font-size: 25px;
    font-weight: bold;
}
#linea li{
    padding: 10px rgb(190, 233, 250);
    background-color: rgba(86, 185, 224, 0.5);
    border-radius: 10px;
    margin: 10px;
}
#footer{
    width: 100%;
    height: 90px;
    background: rgb(7,197,252);
    background: linear-gradient(0deg, rgba(7,197,252,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 62%, rgba(7,197,252,1) 100%);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 20px black;
}
#footer a{
    color: black;
}
